@model IEnumerable<MusicSite.Models.Domain.Song>
@using MusicSite.Models;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
	<div class="large-12 columns">
		<h2>Welcome to Music site</h2>
		<p>Listen and share</p>
		<hr />
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
	    <h3>Popular songs</h3>
        @foreach (var song in Model)
        {
            @Html.Partial("Song", song)
        }
	</div>
	<div class="large-4 large-offset-2 columns">
		<h4>Tags</h4>
        <div class="panel">
		    <div class="tag-cloud">
                @foreach (var menuTag in ViewBag.TagCloudItems)
                {
                    @Html.ActionLink(
                        (string)menuTag.Tag, 
                        "Search", 
                        new { query = (string)menuTag.Tag }, 
                        new { @class = (string)menuTag.TagClass }
                    )
                }
            </div>
        </div>
	</div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <script src="/Scripts/User/likes.js"></script>
}